{% extends "reviews/base.html" %}
{% block content %}
<h1>About Us</h1>
<h2>Review App Inc</h2>
<p>Lorem ipsum dolor sit amet, ea dicant dignissim mea, ius eu errem assentior. Cum detracto postulant eu, quo eu amet alienum molestie, verear gloriatur accommodare ea duo. Ei tamquam eruditi vel, cu est modo aliquam. Ex augue eripuit dignissim vix.

Id saepe invenire eleifend vis, in quodsi denique mentitum pri. Ne mei dicant convenire scribentur, sit et odio tation. Qui ad libris nonumes alienum. Ut nostrum gloriatur temporibus mea. Civibus oporteat eleifend ei vel, id his alia labitur aliquid, id nam justo consul. At vis ferri mazim primis. Meis exerci pericula nec ut.
</p>
{% endblock content %}