body {
	font-family: Roboto, sans-serif;
}

.personal-profile-info p {
	margin-bottom: 0;
}

.product-card a.detail-link, .review-card a.detail-link {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.product-card:hover .product-name, .review-card:hover .review-name {
	text-decoration: underline;
}