{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="mb-4">{{ user.profile }}</h2>

<div class="card">
	<div class="card-body profile">
		<div class="row">
			<div class="col-md-4">
				<img class="rounded-circle account-img w-75 mx-auto d-block" src="{{ user.profile.image.url }}">
			</div>
			<div class="col profile-info">
				<div class="basic-profile-info">
					<h4>Basic Info</h4>
					<div class="row">
						<p class="col-md-3 mb-0 text-muted">Username</p>
						<p class="col text-secondary mb-0">{{ user.username }}</p>
					</div>
					<div class="row">
						<p class="col-md-3 text-muted">Email</p>
						<p class="col text-secondary">{{ user.email }}</p>
					</div>
				</div>

				<div class="personal-profile-info">
					<h4>Personal Information</h4>
					<div class="row">
						<p class="col-md-3 text-muted">Full Name</p>
						<p class="col">{{ user.profile.full_name }}</p>
					</div>
					<div class="row">
						<p class="col-md-3 text-muted">Date of Birth</p>
						<p class="col">{{ user.profile.date_of_birth }}</p>
					</div>
					<div class="row">
						<p class="col-md-3 text-muted">Address</p>
						<p class="col">{{ user.profile.address }}</p>
					</div>
					<div class="row">
						<p class="col-md-3 text-muted">City</p>
						<p class="col">{{ user.profile.city }}</p>
					</div>
					<div class="row">
						<p class="col-md-3 text-muted">Country</p>
						<p class="col">{{ user.profile.country }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mt-2">
	<div class="card-body">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Edit User Details</legend>
				{{ u_form | crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Update</button>
			</div>
		</form>
	</div>
</div>

<div class="card mt-2">
	<div class="card-body">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Edit Profile Details</legend>
				{{ p_form | crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Update</button>
			</div>
		</form>
	</div>
</div>

{% endblock content %}